body {
    font-family: sans-serif;
    font-size: 50%;
    background-color: rgb(39, 35, 23);
    text-align: center;
}

footer,
nav {
    display: block;
}

form [type=text] {
    width: 150px;
    height: 15px;
    margin: 15px;
    border: line;
    border-radius: 5%;
    box-shadow: 1px 1px 4px 0 rgba(7, 2, 77, 0.3);
}

input {
    width: 100px;
    margin: 15px;
    text-align: center;
}

h1 {
    text-align: center;
}
